
.row{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2 {
    font-size: 54px;
}
.col-1 h3 {
    margin-top: 0;
    font-size: 20px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 p {
    font-size: 16px;
    color: hsl(26, 100%, 55%);
    font-weight: bold;
}
.col-1 h4{
    margin: 20px 0 0 0;
    font-size: 35px;
    font-weight: bold;
}
.col-1 h5{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 100;
}

button{
    display: flex;
    box-shadow: 5px 10px 18px hsl(26, 100%, 85%);
    width: 100px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    color: #fff;
    background-color: hsl(26, 100%, 55%);
}
.carrinhobtn{
    display: inline-block;
    align-items: center;
    height: 20px;
}

h3 button {
    background: hsl(220, 14%, 90%);
    box-shadow: none;
    color: hsl(26, 100%, 55%);
    font-size: 20px;
    font-weight: bold;
    width: 100px;
}

.quantidade {
    flex-basis: 30%;
    position: relative;
    background: hsl(220, 14%, 90%);
    border-radius: 10px;
}

.controller{
    width: 575px;
    display: flex;
    position: relative;
    align-items: center;
    flex-basis: 60%;
    border-radius: 20px;
}
span {
    justify-content: space-around;
    text-align: center;
    padding: 5px;
    margin:0 10px;
    background-color: hsl(26, 100%, 95%);
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color:hsl(26, 100%, 45%) ;
}

img{

    margin: 11px;
    border-radius: 20px;
}

.ajuste{
    height: 125px;
}
