* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.3s;
  }


  img {
    cursor: pointer;
  }
  
  .logo {
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: bold;
    align-items: center;
    display: none;
    font-family: Kumbh Sans;
  }
  
  .logo2 {
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: bold;
    align-items: center;
    font-family: Kumbh Sans;
  }

  nav {
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #ffffff;
    height: 8vh;
    border-bottom: hsl(220, 14%, 75%) 1px solid;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  .nav-list li a:hover{
    border-bottom:  3px solid;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: rgb(0, 0, 0);
    margin: 8px;
    transition: 0.3s;
  }

  .avatar {
    height: 35px;
    align-items: center;
    margin-left: 10px;
  }
  .carrinho {
    height: 30px;
    align-items: center;
  }

  .carrinho:hover {
    box-sizing: content-box;
  }
  

  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .row{
      flex-direction: column;
      align-items: center;
    }
    .col-1{
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    
    .nav-list {
      z-index: 1;
      margin-top: 5px;
      position: absolute;
      top: 8vh;
      left: 0;
      border: 5px solid hsl(26, 100%, 55%);
      box-shadow: 5px 5px 5px hsl(26, 100%, 85%);
      width: 30vh;
      height: 45vh;
      background: #ffffff;
      flex-direction: column;
      align-items: center;
      transform: translateX(-100%);
      border-radius: 20px;
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
      margin: 3vh;
    }
    .mobile-menu {
      display: block;
    }
    .logo{
        display: flex;
    }
    .logo2{
        display: none;
    }
    .nav-list li a:hover{
        border-bottom: none;
        padding: 10px;
      }

  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  /************ Dialog ****************/
  
  dialog::backdrop {
    background-color: rgb(0, 0, 0 / 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  dialog {

    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    margin: auto;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1em rgb(0, 0, 0 / 0.3);
  }
  
  .butaoDialog {
    margin: auto;
  }
  
  
